body {
    font-family: Arial, sans-serif;
    background-color: black;
    background-image: url("login_bg_img.png");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background:transparent;
    border: 2px solid rgba(255, 255, 255, 0.598);
    backdrop-filter:blur(8px);
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 2px rgba(228, 221, 221, 0.415);
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    color: white;
}

label, input {
    display: block;
    width: 100%;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1.5px solid #e97908d6;
    border-radius: 40px;
}
 
input[type="submit"] {
    background-color: #1307f7;
    color: #fff;
    border:#daf508;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #1f0794;
}

 
input[type="submit"] {
    background-color: #0926c9;
    color: #f9f7f7;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    animation: buttonColorChange 3s infinite;
}

input[type="submit"]:hover {
    animation: none; /* Disable animation on hover */
}
